<hr>
<div>
  <p>
    <strong>
      <%= tweet.user.full_name %>, 
    </strong>
    <%= tweet.user.username %> -
    <%= tweet.created_at.to_formatted_s(:long_ordinal) %>
  </p>
  <p style="white-space: pre-wrap;">
    <%= tweet.message %>
  </p>
</div>
